In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import feather
import datetime as dt
from tqdm import tqdm_notebook

In [2]:
PATH = '../src/'
!ls {PATH}

TOTH_ACCOUNT_PROFILE.7z  TOTH_PAYMENT_PRODUCT.7z  df_accs_samp-raw
TOTH_ACCOUNT_PROFILE.txt TOTH_PRODUCT.7z          df_invs_samp-raw
TOTH_INVOICE.7z          TOTH_PRODUCT.txt         df_pays_samp-raw
TOTH_INVOICE.txt         TOTH_SCOMS.7z            df_prods_samp-raw
TOTH_PAYMENT.txt         TOTH_SCOMS.txt           df_scoms_samp-raw

In [3]:
# import all the data
df_accs = feather.read_dataframe(f'{PATH}df_accs_samp-raw')
df_invs = feather.read_dataframe(f'{PATH}df_invs_samp-raw')
df_prods = feather.read_dataframe(f'{PATH}df_prods_samp-raw')
df_scoms = feather.read_dataframe(f'{PATH}df_scoms_samp-raw')
df_pays = feather.read_dataframe(f'{PATH}df_accs_samp-raw')

In [4]:
df_scoms.head()

,TEL,FAILDATE,COMDATE,CHKWORK_0,CHKWORK_AN,CHKWORK_BN,CHKWORK_CN,CHKWORK_FN,CHKWORK_HN,CHKWORK_IN,...,FAULTRANGE_มากกว่า 1 - 2 ชม.,FAULTRANGE_มากกว่า 1 วัน - 7 วัน,FAULTRANGE_มากกว่า 2 - 3 ชม.,FAULTRANGE_มากกว่า 3 - 3.5 ชม.,FAULTRANGE_มากกว่า 3.5 - 4 ชม.,FAULTRANGE_มากกว่า 4 - 6 ชม.,FAULTRANGE_มากกว่า 6 - 24 ชม.,FAULTRANGE_มากกว่า 7 วัน,FAULTRANGE_อยู่ระหว่างดำเนินการ,FAULTRANGE_nan
0,9DAEFFFCABF29AF26195EA22D6BFC904,2017-02-13 18:49:23,2017-02-14 10:50:07,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,E0254B612E7532531F6CC4D053A71C5B,2017-02-13 18:50:00,2017-02-14 11:19:05,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,99F142C6C271C44E0CC78E9A31766AB1,2017-02-13 18:51:06,2017-02-13 19:29:02,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,14E0F93F5C1C19814B328DFE353B0D3E,2017-02-13 18:51:25,2017-02-16 08:47:09,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,CFC4B4F105E0BC4100C16B3BB8042F80,2017-02-13 18:51:29,2017-02-14 10:14:39,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [7]:
# create rolling statistic (monthly) for scoms data
df_scoms['CMPTIME'] = df_scoms.COMDATE - df_scoms.FAILDATE

In [8]:
# check the date range
print(df_scoms.FAILDATE.min(),' - ',df_scoms.FAILDATE.max())

2017-01-01 00:09:05  -  2018-12-31 23:46:49

In [12]:
for year, month in tqdm_notebook(zip([2017]*12 + [2018]*12, list(range(1,13))*2)):
    df_scoms_temp = df_scoms.copy()
    df_scoms_temp['elapse'] = dt.datetime(year,month,1) - df_scoms_temp.FAILDATE
    df_scoms_temp['elapse'] = df_scoms_temp.elapse.dt.days
    df_scoms_temp = df_scoms_temp.loc[df_scoms_temp.elapse>0]
    df_scoms_temp.to_csv('../bin/monthly/df_scoms_'+str(year).zfill(4)+str(month).zfill(2)+'.csv',index=False)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [13]:
df_prods.head()

,ACCOUNT,TEL,TEL_START_DT,TEL_END_DT,TARIFF,QUANTITY,CHARGE
0,B2A9B9930AAB063D7B6F88FBBCC4C40D,50DC72E95344D07C0C095422F482A067,2018-09-06,2021-09-05,Plan 5354,1,450.0
1,B2A9B9930AAB063D7B6F88FBBCC4C40D,EA0AC7D21E5067E42BAACA733BB59962,2016-07-24,2016-07-26,Plan 3742,1,590.0
2,B2A9B9930AAB063D7B6F88FBBCC4C40D,EA0AC7D21E5067E42BAACA733BB59962,2016-07-27,2017-10-11,Plan 618,1,590.0
3,B2A9B9930AAB063D7B6F88FBBCC4C40D,EA0AC7D21E5067E42BAACA733BB59962,2017-10-12,2018-10-21,Plan 513,1,650.0
4,BDC469E8E9F835C005922DE8333905E7,AB4F21ECADFB6AF25AA991A8101130F2,2013-06-06,2018-08-10,Plan 5180,1,390.0

In [14]:
# create rolling statistic (monthly) for prods data
for year, month in tqdm_notebook(zip([2017]*12 + [2018]*12, list(range(1,13))*2)):
    df_prods_temp = df_prods.copy()
    df_prods_temp['elapse_start'] =  dt.datetime(year,month,1) - df_prods_temp.TEL_START_DT
    df_prods_temp['elapse_start'] = df_prods_temp.elapse_start.dt.days
    df_prods_temp = df_prods_temp.loc[df_prods_temp.elapse_start>0]
    df_prods_temp['elapse_end'] = dt.datetime(year,month,1) - df_prods_temp.TEL_END_DT
    df_prods_temp['elapse_end'] = df_prods_temp.elapse_end.dt.days
    df_prods_temp['elapse_end'] = df_prods_temp.elapse_end.clip(-1, np.inf).fillna(-1)
    df_prods_temp.to_csv('../bin/monthly/df_product_'+str(year).zfill(4)+str(month).zfill(2)+'.csv',index=False)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [16]:
del df_scoms, df_prods

In [17]:
df_accs.head()

,ACCOUNT,START_DT,BILL_DELIVER,PAY_METHOD,PROVINCE
0,BDC469E8E9F835C005922DE8333905E7,2011-10-21,Paper Bill,Cash,จังหวัดสุราษฎร์ธานี
1,11905624254857E8415B2323649CA0B5,2014-02-18,Paper Bill,Cash,จังหวัดตรัง
2,D241D5652995AE1ABDB246B39ECDF150,2017-08-16,No Bill,Cash,จังหวัดกาฬสินธุ์
3,799E80FDF19DECFD409583545A12B157,2017-07-06,No Bill,Cash,จังหวัดสุราษฎร์ธานี
4,2B4132D1BD70AEF027122F1A91F75A81,2018-02-08,Paper Bill,Cash,จังหวัดหนองบัวลำภู

In [18]:
# preprocess account data
df_accs.BILL_DELIVER.value_counts()

Paper Bill    221585
No Bill        36163
E-Bill          8964
SMS P-Bill        11
SMS E-Bill         2
Name: BILL_DELIVER, dtype: int64

In [19]:
df_accs.PAY_METHOD.value_counts()

Cash                   244396
EFT (Direct Debit)      17338
CPM (Direct Credit)      4991
Name: PAY_METHOD, dtype: int64

In [20]:
df_accs.PROVINCE.nunique()

265

In [21]:
df_accs = df_accs.drop('START_DT',axis=1)
df_accs.to_feather('df_accs_samp-raw')

In [4]:
# create rolling statistic (monthly) for invoice data
df_invs.head()

,ACCOUNT,INVOICE,BILL_DT,DUE_DATE,SETTLED_DT,AMT,VAT,TOTAL,ADJUST,PAYMENT,OUTSTANDING
0,B2A9B9930AAB063D7B6F88FBBCC4C40D,E645402650BF5ABF19140B45873986DB,JUN-14,7/7/2014,7/31/2014,1763.50,123.45,1886.95,NaN,1886.95,0.0
1,B2A9B9930AAB063D7B6F88FBBCC4C40D,1A3BA86FCA850BA121845F21D8683A35,AUG-14,9/7/2014,9/25/2014,1556.83,108.98,1665.81,NaN,1665.81,0.0
2,B2A9B9930AAB063D7B6F88FBBCC4C40D,DFA66608782FCB4CD887843B0755C7B9,SEP-14,10/7/2014,9/25/2014,1866.00,130.62,1996.62,NaN,1996.62,0.0
3,B2A9B9930AAB063D7B6F88FBBCC4C40D,25F3855660E98F52855318DA06761EAA,OCT-14,11/7/2014,11/3/2014,1650.00,115.50,1765.50,NaN,1765.50,0.0
4,B2A9B9930AAB063D7B6F88FBBCC4C40D,6D27F1EF6E5CFC14DF69BBA6AB305131,DEC-14,1/7/2015,1/6/2015,1850.00,129.50,1979.50,NaN,1979.50,0.0

In [22]:
df_invs['BILL_DT'] = pd.to_datetime(df_invs.BILL_DT,format='%b-%y')
df_invs['DUE_DATE'] = pd.to_datetime(df_invs.DUE_DATE,format='%m/%d/%Y')
df_invs['SETTLED_DT'] = pd.to_datetime(df_invs.SETTLED_DT,format='%m/%d/%Y')
df_invs['late_payment_days'] = df_invs['SETTLED_DT'] - df_invs['DUE_DATE']
df_invs['late_payment_days'] = df_invs.late_payment_days.dt.days

In [23]:
for year, month in tqdm_notebook(zip([2017]*12 + [2018]*12, list(range(1,13))*2)):
    df_invs_temp = df_invs.copy()
    df_invs_temp['elapse_settled'] = dt.datetime(year,month,1) - df_invs.SETTLED_DT
    df_invs_temp['elapse_settled'] = df_invs_temp.elapse_settled.dt.days
    df_invs_temp = df_invs_temp.loc[df_invs_temp.elapse_settled>0]
    df_invs_temp['elapse_due'] = dt.datetime(year,month,1) - df_invs_temp.DUE_DATE
    df_invs_temp['elapse_due'] = df_invs_temp.elapse_due.dt.days
    df_invs_temp.to_csv('../bin/monthly/df_invs_'+str(year).zfill(4)+str(month).zfill(2)+'.csv',index=False)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [7]:
df_invs.head(150)

,ACCOUNT,INVOICE,BILL_DT,DUE_DATE,SETTLED_DT,AMT,VAT,TOTAL,ADJUST,PAYMENT,OUTSTANDING
0,B2A9B9930AAB063D7B6F88FBBCC4C40D,E645402650BF5ABF19140B45873986DB,JUN-14,7/7/2014,7/31/2014,1763.50,123.45,1886.95,NaN,1886.95,0.0
1,B2A9B9930AAB063D7B6F88FBBCC4C40D,1A3BA86FCA850BA121845F21D8683A35,AUG-14,9/7/2014,9/25/2014,1556.83,108.98,1665.81,NaN,1665.81,0.0
2,B2A9B9930AAB063D7B6F88FBBCC4C40D,DFA66608782FCB4CD887843B0755C7B9,SEP-14,10/7/2014,9/25/2014,1866.00,130.62,1996.62,NaN,1996.62,0.0
3,B2A9B9930AAB063D7B6F88FBBCC4C40D,25F3855660E98F52855318DA06761EAA,OCT-14,11/7/2014,11/3/2014,1650.00,115.50,1765.50,NaN,1765.50,0.0
4,B2A9B9930AAB063D7B6F88FBBCC4C40D,6D27F1EF6E5CFC14DF69BBA6AB305131,DEC-14,1/7/2015,1/6/2015,1850.00,129.50,1979.50,NaN,1979.50,0.0
5,B2A9B9930AAB063D7B6F88FBBCC4C40D,732F660AF93683CF9F691CF8E84F70FC,JAN-15,2/7/2015,3/10/2015,1850.00,129.50,1979.50,NaN,1979.50,0.0
6,B2A9B9930AAB063D7B6F88FBBCC4C40D,7592E5968907DBEADFF826A081B4E2EB,FEB-15,3/7/2015,3/10/2015,1856.00,129.92,1985.92,NaN,1985.92,0.0
7,B2A9B9930AAB063D7B6F88FBBCC4C40D,1278620885FBC93EA048544DC76F1A98,MAR-15,4/7/2015,5/14/2015,1850.00,129.50,1979.50,NaN,1979.50,0.0
8,B2A9B9930AAB063D7B6F88FBBCC4C40D,B225572D1E37AE77D698961D0EDAB879,MAY-15,6/7/2015,7/14/2015,1650.00,115.50,1765.50,NaN,1765.50,0.0
9,B2A9B9930AAB063D7B6F88FBBCC4C40D,2ED1AE3B6521FAB14AB77A63865000C0,JUL-15,8/7/2015,9/14/2015,1650.00,115.50,1765.50,NaN,1765.50,0.0
10,B2A9B9930AAB063D7B6F88FBBCC4C40D,182E0E7BF473F6A46A7A21F95C836AC1,AUG-15,9/7/2015,9/14/2015,1659.00,116.13,1775.13,NaN,1775.13,0.0
11,B2A9B9930AAB063D7B6F88FBBCC4C40D,8AEFB003B8B45C7C285800DA9F55FAF1,NOV-15,12/7/2015,12/21/2015,795.00,55.65,850.65,NaN,850.65,0.0
12,B2A9B9930AAB063D7B6F88FBBCC4C40D,70D256D1D26A7AAB7F04463B5E900020,JAN-16,2/7/2016,2/17/2016,778.50,54.50,833.00,NaN,833.00,0.0
13,B2A9B9930AAB063D7B6F88FBBCC4C40D,5187CDD70629A718E6EA8661E91CCA07,FEB-16,3/7/2016,3/18/2016,947.00,66.29,1013.29,NaN,1013.29,0.0
14,B2A9B9930AAB063D7B6F88FBBCC4C40D,76A6645974C0C6177B040F4A9EE81825,MAY-16,6/7/2016,7/14/2016,939.00,65.73,1004.73,NaN,1004.73,0.0
15,B2A9B9930AAB063D7B6F88FBBCC4C40D,DC3468620AA1A0416D10751489F1984B,JUN-16,7/7/2016,7/14/2016,1033.00,72.31,1105.31,NaN,1105.31,0.0
16,B2A9B9930AAB063D7B6F88FBBCC4C40D,A1FCDFBA777EC9725B19BBB5B235978C,AUG-16,9/7/2016,10/12/2016,1304.87,91.34,1396.21,NaN,1396.21,0.0
17,B2A9B9930AAB063D7B6F88FBBCC4C40D,4EF32B3898A4D7B059E13BFEC25A6FA7,OCT-16,11/7/2016,11/11/2016,1848.00,129.36,1977.36,NaN,1977.36,0.0
18,B2A9B9930AAB063D7B6F88FBBCC4C40D,3EA3AECDDE7FC5BBDA175370DC64583E,NOV-16,12/7/2016,1/10/2017,1524.00,106.68,1630.68,NaN,1630.68,0.0
19,B2A9B9930AAB063D7B6F88FBBCC4C40D,A8FCABCA1812A6C0FA64D349056500BB,JAN-17,2/7/2017,2/28/2017,1497.00,104.79,1601.79,NaN,1601.79,0.0
20,B2A9B9930AAB063D7B6F88FBBCC4C40D,592F79BB5A4B5E94BC67891DD0EBCE33,FEB-17,3/7/2017,2/28/2017,1857.00,129.99,1986.99,NaN,1986.99,0.0
21,B2A9B9930AAB063D7B6F88FBBCC4C40D,1BBC9C109A17B11B16B9C5F04538F3F0,MAY-17,6/7/2017,7/4/2017,1405.50,98.39,1503.89,NaN,1503.89,0.0
22,B2A9B9930AAB063D7B6F88FBBCC4C40D,E699DB88ACC400BE64A1FDCB22E8B7ED,JUN-17,7/7/2017,7/4/2017,1105.50,77.39,1182.89,NaN,1182.89,0.0
23,B2A9B9930AAB063D7B6F88FBBCC4C40D,DE44A5F7902A9A2F0F1F66516B0032A0,AUG-17,9/7/2017,8/31/2017,1095.50,76.69,1172.19,NaN,1172.19,0.0
24,B2A9B9930AAB063D7B6F88FBBCC4C40D,F9B1501DC9860AB5F69F3A8CE314B24A,NOV-17,12/7/2017,1/7/2018,1146.38,80.25,1226.63,NaN,1226.63,0.0
25,B2A9B9930AAB063D7B6F88FBBCC4C40D,AF356BC42DBC9D8F9FBC7D26ABE6EE0E,DEC-17,1/7/2018,1/7/2018,1167.50,81.73,1249.23,NaN,1249.23,0.0
26,B2A9B9930AAB063D7B6F88FBBCC4C40D,F28D385F4A79E51FD9C9E42A42E65346,FEB-18,3/7/2018,3/7/2018,1160.00,81.20,1241.20,NaN,1241.20,0.0
27,B2A9B9930AAB063D7B6F88FBBCC4C40D,49CAD621C1A411D0DF68372B82B0D90D,MAY-18,6/7/2018,7/6/2018,1161.00,81.27,1242.27,NaN,1242.27,0.0
28,B2A9B9930AAB063D7B6F88FBBCC4C40D,8B79C331EE672D42EA4F048E0EB4D324,JUN-18,7/7/2018,7/6/2018,1160.00,81.20,1241.20,NaN,1241.20,0.0
29,B2A9B9930AAB063D7B6F88FBBCC4C40D,EBE973DEC3615477C4AFF656DC22648F,JUL-18,8/7/2018,8/15/2018,1202.50,84.18,1286.68,NaN,1286.68,0.0
...,...,...,...,...,...,...,...,...,...,...,...
120,11905624254857E8415B2323649CA0B5,3566344D0E6854A62AD535DCD4AE64B0,NOV-15,12/12/2015,1/12/2016,590.00,41.30,631.30,-100.00,631.30,0.0
121,11905624254857E8415B2323649CA0B5,3566344D0E6854A62AD535DCD4AE64B0,NOV-15,12/12/2015,1/12/2016,590.00,41.30,631.30,-32.26,631.30,0.0
122,11905624254857E8415B2323649CA0B5,4462433B875860F18EF51321E4DE08F5,DEC-15,1/12/2016,2/19/2016,590.00,41.30,631.30,590.00,631.30,0.0
123,11905624254857E8415B2323649CA0B5,4462433B875860F18EF51321E4DE08F5,DEC-15,1/12/2016,2/19/2016,590.00,41.30,631.30,-32.26,631.30,0.0
124,11905624254857E8415B2323649CA0B5,4462433B875860F18EF51321E4DE08F5,DEC-15,1/12/2016,2/19/2016,590.00,41.30,631.30,-100.00,631.30,0.0
125,11905624254857E8415B2323649CA0B5,6528505E8CA9E0B07775B4D633C08DDF,JAN-16,2/12/2016,3/16/2016,590.00,41.30,631.30,-32.26,631.30,0.0
126,11905624254857E8415B2323649CA0B5,6528505E8CA9E0B07775B4D633C08DDF,JAN-16,2/12/2016,3/16/2016,590.00,41.30,631.30,-100.00,631.30,0.0
127,11905624254857E8415B2323649CA0B5,6528505E8CA9E0B07775B4D633C08DDF,JAN-16,2/12/2016,3/16/2016,590.00,41.30,631.30,190.32,631.30,0.0
128,11905624254857E8415B2323649CA0B5,6528505E8CA9E0B07775B4D633C08DDF,JAN-16,2/12/2016,3/16/2016,590.00,41.30,631.30,590.00,631.30,0.0
129,11905624254857E8415B2323649CA0B5,E15FE9DFBC05903C6328B53D6C5C2B14,FEB-16,3/12/2016,4/21/2016,590.00,41.30,631.30,-32.26,631.30,0.0
130,11905624254857E8415B2323649CA0B5,E15FE9DFBC05903C6328B53D6C5C2B14,FEB-16,3/12/2016,4/21/2016,590.00,41.30,631.30,-100.00,631.30,0.0
131,11905624254857E8415B2323649CA0B5,E15FE9DFBC05903C6328B53D6C5C2B14,FEB-16,3/12/2016,4/21/2016,590.00,41.30,631.30,190.32,631.30,0.0
132,11905624254857E8415B2323649CA0B5,1B2BD5091512756B9B7FC1E346F92DB4,MAR-16,4/12/2016,5/23/2016,590.00,41.30,631.30,590.00,631.30,0.0
133,11905624254857E8415B2323649CA0B5,1B2BD5091512756B9B7FC1E346F92DB4,MAR-16,4/12/2016,5/23/2016,590.00,41.30,631.30,190.32,631.30,0.0
134,11905624254857E8415B2323649CA0B5,1B2BD5091512756B9B7FC1E346F92DB4,MAR-16,4/12/2016,5/23/2016,590.00,41.30,631.30,-100.00,631.30,0.0
135,11905624254857E8415B2323649CA0B5,1B2BD5091512756B9B7FC1E346F92DB4,MAR-16,4/12/2016,5/23/2016,590.00,41.30,631.30,-100.00,631.30,0.0
136,11905624254857E8415B2323649CA0B5,D9E3E6F7AF87BBA3881413D23745A2CD,APR-16,5/12/2016,5/23/2016,590.00,41.30,631.30,590.00,631.30,0.0
137,11905624254857E8415B2323649CA0B5,D9E3E6F7AF87BBA3881413D23745A2CD,APR-16,5/12/2016,5/23/2016,590.00,41.30,631.30,190.32,631.30,0.0
138,11905624254857E8415B2323649CA0B5,D9E3E6F7AF87BBA3881413D23745A2CD,APR-16,5/12/2016,5/23/2016,590.00,41.30,631.30,-100.00,631.30,0.0
139,11905624254857E8415B2323649CA0B5,D9E3E6F7AF87BBA3881413D23745A2CD,APR-16,5/12/2016,5/23/2016,590.00,41.30,631.30,-414.67,631.30,0.0
140,11905624254857E8415B2323649CA0B5,02C4327698E35B7E199ECB1BC618F858,MAY-16,6/12/2016,7/2/2016,590.00,41.30,631.30,590.00,631.30,0.0
141,11905624254857E8415B2323649CA0B5,02C4327698E35B7E199ECB1BC618F858,MAY-16,6/12/2016,7/2/2016,590.00,41.30,631.30,190.32,631.30,0.0
142,11905624254857E8415B2323649CA0B5,02C4327698E35B7E199ECB1BC618F858,MAY-16,6/12/2016,7/2/2016,590.00,41.30,631.30,-414.67,631.30,0.0
143,11905624254857E8415B2323649CA0B5,02C4327698E35B7E199ECB1BC618F858,MAY-16,6/12/2016,7/2/2016,590.00,41.30,631.30,-32.26,631.30,0.0
144,11905624254857E8415B2323649CA0B5,72157E9AC3FC8DDC441B7B8DD16B1EF8,JUN-16,7/12/2016,8/3/2016,590.00,41.30,631.30,-100.00,631.30,0.0
145,11905624254857E8415B2323649CA0B5,72157E9AC3FC8DDC441B7B8DD16B1EF8,JUN-16,7/12/2016,8/3/2016,590.00,41.30,631.30,590.00,631.30,0.0
146,11905624254857E8415B2323649CA0B5,72157E9AC3FC8DDC441B7B8DD16B1EF8,JUN-16,7/12/2016,8/3/2016,590.00,41.30,631.30,190.32,631.30,0.0
147,11905624254857E8415B2323649CA0B5,72157E9AC3FC8DDC441B7B8DD16B1EF8,JUN-16,7/12/2016,8/3/2016,590.00,41.30,631.30,-414.67,631.30,0.0
148,11905624254857E8415B2323649CA0B5,0A0E8130DC8BAB0B3A393CDB89C24C94,JUL-16,8/12/2016,10/13/2016,590.00,41.30,631.30,-100.00,631.30,0.0
149,11905624254857E8415B2323649CA0B5,0A0E8130DC8BAB0B3A393CDB89C24C94,JUL-16,8/12/2016,10/13/2016,590.00,41.30,631.30,-32.26,631.30,0.0